
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.btn-1{
    border-color: #de0ff1;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #de0ff1 50%, transparent 50%);
    background-image: linear-gradient(45deg, #de0ff1 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 0.7s ease-in-out;
    transition: background 0.7s ease-in-out;
}
.btn-1:hover {
    background-position: 0;
}